
===============================================================================
# IMAGE and GALFIT CONTROL PARAMETERS
A) {{stamp_path}}# Input data image (FITS file) 
B) {{galfit_output_path}}# Output data image block  
C) {{rms_path}}# Sigma image name  
D) {{psf_path}}# Input PSF image 
E) 1                                                           # PSF fine sampling factor relative to data
F) {{mask_path}}# Bad pixel mask  
G) {{constraints_path}}# File with parameter constraints (ASCII file)
H) 1 {{image_size}} 1 {{image_size}}                                           # Image region to fit (xmin xmax ymin ymax)
I) 150 150                                                     # Size of the convolution box (x y)
J) {{zeropoint}}                                                    # Magnitude photometric zeropoint
K) 0.04 0.04                                                   # Plate scale (dx dy)    [arcsec per pixel]
O) regular                                                     # Display type (regular, curses, both)
P) 0                                                           # Choose: 0=optimize, 1=model, 2=imgblock, 3=subcomps

# Object number: 1
 0) sersic                                                     # object type
 1) {{position}} {{position}} 1 1                                          # position x, y
 3) {{magnitude}} 1                                                 # Integrated magnitude 
 4) {{half_light_radius}} 1.                                                # R_e (half-light radius)   [pix]
 5) 2.0 1                                                      # Sersic index n (de Vaucouleurs n=4)
 6) 0.0000 0                                                   # -----
 7) 0.0000 0                                                   # -----
 8) 0.0000 0                                                   # -----
 9) {{axis_ratio}} 1                                                 # axis ratio (b/a)
10) 0.0 1                                                      # position angle (PA) [deg: Up=0, Left=90]
 Z) 0                                                          # output option (0 = resid., 1 = Don't subtract)

# Object number: 2
 0) sky                                                        # object type
 1) 0 1                                                        # sky background at center of fitting region [ADUs]
 2) 0.0000 1                                                   # dsky/dx (sky gradient in x)
 3) 0.0000 1                                                   # dsky/dy (sky gradient in y)
 Z) 1                                                          # output option (0 = resid., 1 = Don't subtract)

